[user]
    email = antares@antares.me
    name = Anton Salnikov
    signingkey = 1409F9C32E91DD07
[github]
    user = antares-me
[push]
    default = current
[filter "lfs"]
    smudge = git-lfs smudge %f
    required = true
    clean = git-lfs clean %f
[core]
    editor = vim
#   pager = less -SR
    pager = more
#   autocrlf = true
    whitespace = trailing-space,space-before-tab,indent-with-non-tab
[merge]
    conflictstyle = diff3
    tool = kompare
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --oneline --graph --decorate
[diff]
    tool = kompare
[commit]
    gpgsign = true
    template = ~/.gitmessage.txt
