[user]
    email = antares@antares.me
    name = Anton Salnikov
    signingkey = 1409F9C32E91DD07
[github]
    user = antares-me
[push]
    default = current
[filter "lfs"]
    smudge = git-lfs smudge %f
    required = true
    clean = git-lfs clean %f
[core]
    editor = vim
#   pager = less -SR
	pager = diff-so-fancy | less --tabs=4 -RFX
    autocrlf = input
    whitespace = trailing-space,space-before-tab,indent-with-non-tab
[merge]
    conflictstyle = diff3
    tool = kompare
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --oneline --graph --decorate
    ; https://habrahabr.ru/company/mailru/blog/318508/
    ; graphical log
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	please = push --force-with-lease
	commend = commit --amend --no-edit
	it = !git init && git commit -m “root” --allow-empty
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
	shorty = status --short --branch
	merc = merge --no-ff
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
[diff]
    tool = kompare
[commit]
	gpgsign = true
    template = ~/.gitmessage.txt
[help]
    autocorrect = 1
[gpg]
	program = gpg2
