vim/.vim/bundle/*
vim/.vim/tmp/*
emacs/.emacs.d/elpa/
emacs/.emacs.d/var/
emacs/.emacs.d/tmp/
gnupg/.gnupg/pubring.gpg*
gnupg/.gnupg/random_seed
gnupg/.gnupg/secring.gpg
gnupg/.gnupg/trustdb.gpg
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged

