[submodule "oh-my-zsh/.oh-my-zsh"]
	path = oh-my-zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts
